.bookrack-container {
  background-color: black;
  position:absolute;
  width:100%;
  font-family: 'Segoe UI', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
    color: black;
    padding: 10px 20px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.view-all {
  background-color: #efc907;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.book-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.book-card {
  background: #fff;
  border: 1px solid #eee;
  width: 200px;
  position: relative;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
}

.discount {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 3px;
}

.book-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.book-title {
  font-weight: bold;
  font-size: 14px;
}

.book-year {
  font-size: 12px;
  color: #777;
  margin: 4px 0;
}
.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.price {
  font-weight: bold;
  font-size: 14px;
}

.buy-btn {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}
