.popular-category-buttons {
    border-left: 5px solid;
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

.popular-category-button1 {
    color: black;
    padding: 10px 20px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.popular-category-button2 {
    background-color: #efc907;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}